PORT=8787
MEDIA_ZUID=
MEDIA_DRIVER=gcp
MEDIA_BUCKET_NAME=
ZESTY_INSTANCE_ZUID=8-e8e981c5f6-2twrfl
DOCS_MODEL_ZUID=6-bcf1eac59e-4xdbl3
NOTES_MODEL_ZUID=6-ea94cae6b2-7dskj0
CONTENT_PARENT_ZUID=0
CODA_API_TOKEN=
CODA_DOC_ID=GNetDKGq5M
CODA_RELEASE_NOTES_PAGE_NAME=Release Notes
CODA_RELEASE_NOTES_PAGE_ID=
